body{
    text-align: center;
    background-color: #003366;
    color: #e6e6e6;
}

button{
    background-color: #b3d6ff;
    color: #003366;
    border: 1px solid #003366;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button:hover{
    background-color: #005fcc;
    color: black;
}

button:disabled{
    background-color: #e6e6e6;
    color: #003366;
}

#advice{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
